@import '../variables.css';

@import url('https://fonts.googleapis.com/css?family=Oswald:500|Quattrocento:400,700');

article {
  height: 100vh;
  padding: 5rem 1.5rem 0;
  box-sizing: border-box;
  z-index: 0;
}

#page1 {background: $rose;}
#page2 {background: $merlot;}
#page3 {background: $grape;}
#page4 {background: $maritime;}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: -.1rem;
  color: $lighter;
}

article>p {
  font: 400 1.5rem/1.4 'Quattrocento', serif;
  margin-top: 8rem;
  color: $lighter;
}

@media (min-width: 420px) {

  article {padding: 7rem 3rem 0;}

  h1 {font-size: 3rem;}

  article>p {
    font: 400 1.6rem/1.4;
    margin-top: 7rem;
  }
}

@media (min-width: 720px) {

  article {padding: 10rem 5rem 0;}

  h1 {font-size: 4rem;}

  article>p {
    font: 400 2rem/1.4;
    margin-top: 6rem;
  }
}