<section id="pages">
  <article class="panel" id="page1">
    <h1>Page 1</h1>
    <p>Lorem ipsum dolor sit amet, in cum altera aliquam, sed no legere libris eruditi. Dicta zril mnesarchum et cum. Pri in posse habemus voluptatibus, sea quis ubique laboramus ut. Has ad veri magna. Etiam nulla mea ad.</p>
  </article>

  <article class="panel" id="page2">
    <h1>Page 2</h1>
    <p>Usu ad ullum tempor detracto, idque percipit cum ei. Verear postulant ea quo, eu choro ceteros repudiandae nec, cu quodsi blandit pro. Ut amet partem signiferumque mea. Aperiam quaestio mea eu. Saepe intellegam et eam, consulatu splendide posidonium id vis.</p>
  </article>

  <article class="panel" id="page3">
    <h1>Page 3</h1>
    <p>Vel choro facete scaevola ea, ne falli movet consulatu his, meis admodum te vel. Apeirian imperdiet interesset ea quo. Sit ei populo volutpat, mutat vocibus sed ad, perpetua hendrerit appellantur an vis.</p>
  </article>

  <article class="panel" id="page4">
    <h1>Page 4</h1>
    <p>Prompta deserunt vel ne, ne suscipit appetere mei. In sed suas oratio, minimum iudicabit has cu. No pri porro omittantur. Ad stet percipit usu, vocibus consectetuer vim cu. Vim partem eruditi nominavi te.</p>
  </article>

</section>