<article class="maxwidth-wrap content-grid">
  <div class="home">
    <h1><a href="#bun-top" alt="Go to Bun page" class="bun">Bun Top</a></h1>
    <h1><a href="#lettuce" alt="Go to Lettuce page" class="lettuce">Lettuce</a></h1>
    <h1><a href="#tomato" alt="Go to Tomato page" class="tomato">Tomato</a></h1>
    <h1><a href="#cheese" alt="Go to Cheese page" class="cheese">Cheese</a></h1>
    <h1><a href="#beef" alt="Go to Beef page" class="beef">Beef</a></h1>
    <h1><a href="#onions" alt="Go to Onions page" class="onions">Onions</a></h1>
    <h1><a href="#bun-bottom" alt="Go to Bun page" class="bun">Bun Bottom</a></h1>
  </div>
</article>