<!-- <picture>
  <source media="(min-width: 1024px)" srcset="../../images/hero-large.jpg, ../../images/hero-large@2x.jpg 2x">
  <source media="(min-width: 720px)" srcset="../../images/hero-medium.jpg, ../../images/hero-medium@2x.jpg 2x">
  <source media="(min-width: 500px)" srcset="../../images/hero-small.jpg, ../../images/hero-small@2x.jpg 2x">
  <img srcset="../../images/hero-xsmall.jpg, ../../images/hero-xsmall@2x.jpg 2x" alt="Shoreline in Iceland">
</picture> -->

<article class="maxwidth-wrap content-grid">

  <h1><a href="#bun-top" alt="Go to Bun page" class="bun">Bun Top</a></h1>
  <h1><a href="#lettuce" alt="Go to Lettuce page" class="lettuce">Lettuce</a></h1>
  <h1><a href="#tomato" alt="Go to Tomato page" class="tomato">Tomato</a></h1>
  <h1><a href="#cheese" alt="Go to Cheese page" class="cheese">Cheese</a></h1>
  <h1><a href="#beef" alt="Go to Beef page" class="beef">Beef</a></h1>
  <h1><a href="#onions" alt="Go to Onions page" class="onions">Onions</a></h1>
  <h1><a href="#bun-bottom" alt="Go to Bun page" class="bun">Bun Bottom</a></h1>
</article>