@import '../variables.css';

@keyframes pageSlide {
  0% {
    opacity: .0;
    transform: translate(0, 100%);
  }
  30% {
    opacity: 0.3;
    transform: translate(0, 10%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0%);
  }
}

main {
  article {
    animation: pageSlide 0.8s ease-out;
  }
}