@import '../variables.css';

.header-flex {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.logo {
  align-items: flex-start;
}

nav {
  position: absolute;
  transform: translate(0, -100%);
  transform-origin: 0 0;
  opacity: 0;
  z-index: 1;
  left: 0;
  top: 65px;
  width: 100%;
  background-color: white;
  ul {
    margin: 2rem 0;
  li {  
    a {
      padding: 0.7rem 0;
      color: $black;
      border-bottom: 0px;;
      transition: 0.3s ease all;
      display: block;
    }
    a:hover {
      background-color: $lightgray;
      border-bottom: 0px;
    }
  }
  }
}

#burger span {
  position: absolute;
  display: block;
  background-color: $darkgray;
  width: 30px;
  height: 4px;
  top: 1.6rem;
  right: 2.5rem;
  z-index: 3;
  transition: 0.3s ease all;
  border-radius: 5px;
  &:nth-child(1) {transform: translate(0, 0px);}
  &:nth-child(2) {transform: translate(0, 10px);}
  &:nth-child(3) {transform: translate(0, 20px);}
}

input {
  display: block;
  z-index: 4;
  position: absolute;
  transform: scale(4, 3);
  top: 30px;
  right: 45px;
  opacity: 0;
}

input:checked ~ #burger span {
  transition: 0.3s ease all;
  &:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
  }
  &:nth-child(2) {
    opacity: 0;
  }
  &:nth-child(3) {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
}

input:checked ~ nav {
  opacity: 1;
  transform: none;
  transition: 0.3s ease all;
}

/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (min-width: 900px) {
  #burger, input {
    display: none;
  }
  nav {
    opacity: 1;
    transform: none;
    position: unset;
    /* justify-content: flex-end; */
    top: 0;
  }

  .ulist {
    display: flex;
    justify-content: center;
    margin: 0;
    li {
      padding: 0 0.7rem;
      a {
        color: $black;
        border-bottom: 3px solid $white;
        transition: 0.3s ease all;
        display: block;
      }
      a:hover {
        border-bottom-color: $link;
      }
    }
  }
}