<section class="maxwidth-wrap header-flex">
  <div>
    <a href="#home" class="logo" alt="Go to Home page">Burger Nav Builder</a>
  </div>
  <nav role="navigation">
    <ul class="ulist">
      <li><a href="#home" alt="Go to Home page">Home</a></li>
      <li><a href="#bun-top" alt="Go to Bun page">Bun Top</a></li>
      <li><a href="#lettuce" alt="Go to Lettuce page">Lettuce</a></li>
      <li><a href="#tomato" alt="Go to Tomato page">Tomato</a></li>
      <li><a href="#cheese" alt="Go to Cheese page">Cheese</a></li>
      <li><a href="#beef" alt="Go to Beef page">Beef</a></li>
      <li><a href="#onions" alt="Go to Onions page">Onions</a></li>
      <li><a href="#bun-bottom" alt="Go to Bun page">Bun Bottom</a></li>
    </ul>
  </nav>
</section>