<section class="maxwidth-wrap header-flex">
  <div>
    <a href="#home" class="logo" alt="Go to Home page"><img class="logo" src="" alt=""></a>
  </div>
  <nav role="navigation">
    <ul class="ulist">
      <li><a href="#bun-top" alt="Go to  page">Bun</a></li>
      <li><a href="#lettuce" alt="Go to  page">Lettuce</a></li>
      <li><a href="#tomato" alt="Go to  page">Tomato</a></li>
      <li><a href="#cheese" alt="Go to  page">Cheese</a></li>
      <li><a href="#beef" alt="Go to  page">Beef</a></li>
      <li><a href="#onions" alt="Go to  page">Onions</a></li>
      <li><a href="#bun-bottom" alt="Go to  page">Bun</a></li>
    </ul>
  </nav>
</section>