$accent: #ff8c8c;
$link: #4d2513;
$darklink: #007BC2;
$lightgray: #eeeeee;
$darkgray: #444140;
$white: #ffffff;
$gray: #E0E0E0;
$black: #000000;

$bun: #974f34;
$lettuce: #88b600;
$tomato: #E53935;
$cheese: #e4ac04;
$beef: #50332a;
$onions: #B0BEC5;



$maxViewportSize: 1280px;
$padding: 2rem;

aside {
  color: #e4ac04;
}